@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "tailwindcss";

/* ============ Theme Tokens ============ */
@theme {
  --font-inter: "Inter", sans-serif;

  --color-lws-green: #00d991;
  --color-deep-dark: #17181c;
  --color-medium-dark: #1e1f24;
  --color-lighter-dark: #27292f;
}

/* ============== Base ================== */
@layer base {
  body {
    @apply bg-deep-dark font-inter text-gray-100 container mx-auto p-4 lg:px-0;
  }
}

/* ============ Utilities =============== */
/* Utilities can be reused & applied everywhere */
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility card {
  @apply rounded-md border border-[#3F3F3F] bg-medium-dark px-4 py-4 lg:px-7 lg:py-5;
}

/* ============ Components ============== */
/* Components may ONLY apply utilities */
@layer components {
  .btn-primary {
    @apply flex-center gap-2 rounded-md bg-lighter-dark px-5 py-2.5 text-sm font-medium text-white hover:bg-deep-dark lg:text-lg;
  }

  .icon-btn {
    @apply flex-center rounded-md bg-lighter-dark p-1.5 font-medium text-white hover:bg-deep-dark;
  }

  .form-control {
    @apply mb-6 space-y-2.5;
  }

  .auth-label {
    @apply leading-[138%] lg:text-lg;
  }

  .auth-input {
    @apply w-full rounded-md border border-[#CCCCCC]/14 bg-lighter-dark p-1.5 focus:outline-none lg:p-3;
  }

  .post-avatar {
    @apply max-w-10 max-h-10 rounded-full lg:max-h-14.5 lg:max-w-14.5;
  }

  /* -------- Action Modal -------- */
  .action-modal-container {
    @apply card absolute right-full top-6 min-w-50 divide-y divide-[#3F3F3F] py-2 [&>button]:py-2;
  }

  .action-menu-item {
    @apply flex w-full items-center gap-2 text-gray-100 transition-all;
  }
}
